img {
  width: 100%;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  letter-spacing: 0.5rem;
}

#ytdiv,
#trailerdiv,
#nydiv {
  background-color: rgb(236, 236, 239);
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Modal */

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.modal-content {
  background-color: grey;
}

.hide {
  display: none;
}

.image-container {
  background-image: url("/assets/film-reel.gif"); /* The image used - important! */
  background-size: cover;
  background-position: center;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 500px; /* Some height */
}

.title-text {
  background-color: white;
  color: black;
  font-size: 5vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}
